@import url('https://fonts.googleapis.com/css?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');

/* accueil */

.accueil {
    height: 90vh;
    display: flex;
}

@media screen and (min-width: 1000px) {
    .accueil {
        height: 92vh;
    }
}

.titre {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    position: relative;
    font-family: 'Fredericka the Great', cursive, sans-serif;
}

.liens {
    margin: auto;
    margin-top: 2%;
}

.part {
    width: 40vw;
    height: 12vh;
    border: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    font-family: 'Playball', cursive, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    font-size: 2em;
}

@media screen and (max-width: 1000px) {
    .part {
        height: 8vh;
        font-size: 1em;
    }
}

.linkHome {
    text-decoration: none;
}

.linkHome:hover {
    transform: scale(1.5);
    transition-duration: 0.5s;
}

.un {
    background-color: #FFCF66;
}

.deux {
    background-color: #E8B35D;
}

.trois {
    background-color: #FFBE73;
}

.quatre {
    background-color: #E8995D;
}

.cinq {
    background-color: #FFA273;
}

.couronne {
    width: 15%;
    position: fixed;
    top: 10%;
    left: 12%;
}

@media screen and (max-width: 1000px) {
    .couronne {
        width: 15%;
        top: 20%;
        left: 5%;
    }
}

@media screen and (max-width: 500px) {
    .couronne {
        width: 15%;
        top: 40%;
        left: 5%;
    }
}

.napoleon_ier {
    width: 15%;
    position: fixed;
    bottom: 0;
}

@media screen and (max-width: 500px) {
    .napoleon_ier {
        width: 25%;
    }
}

.marianne {
    width: 15%;
    position: fixed;
    top: 20%;
    right: 10%;
}

@media screen and (max-width: 1000px) {
    .marianne {
        width: 15%;
        top: 45%;
    }
}

.louis_xiv {
    width: 25%;
    position: fixed;
    bottom: 0;
    right: 0;
}

@media screen and (max-width: 500px) {
    .louis_xiv {
        width: 40%;
    }
}

.png:hover {
    transform: scale(1);
}


/* header */

.bodyHeader {
    min-height: 8vh;
    width: 100vw;
    background-color: rgb(127, 116, 138);
    display: none;
    line-height: 8vh;
}

@media screen and (min-width: 1000px) {
    .bodyHeader {
        display: block;
    }
}

.link {
    margin-left: 4%;
    color: white;
    text-decoration: none;
    font-family: 'Playball', cursive, sans-serif;
    font-size: 20px;
    font-weight: bold;
}


/* Footer */

.bodyFooter {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1000px) {
    .bodyFooter {
        display: none;
    }
}

.bFooter {
    display: flex;
}

.divFooter1 {
    display: flex;
    width: 50%;
    background-color: rgb(127, 116, 138);
    color: white;
    height: 5vh;
}

.divFooter2 {
    display: flex;
    width: 25%;
    background-color: rgb(127, 116, 138);
    height: 5vh;
}

.linkFooter {
    margin: auto;
}

.lFooter {
    color: white;
    text-decoration: none;
    font-family: 'Playball', cursive, sans-serif;
    font-size: 12px;
    font-weight: bold;
}


/* timeline */

.dateTop {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    position: relative;
    font-family: 'Fredericka the Great', cursive, sans-serif;
}

.badge {
    display: flex;
    flex-direction: row;
}

.titres2 {
    padding-left: 5%;
}

.img {
    padding-left: 5%;
}

img {
    width: 60px;
}

img:hover {
    transform: scale(3);
    transition-duration: 1s;
}

.dateBottom {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    position: relative;
    font-family: 'Fredericka the Great', cursive, sans-serif;
}


/* contact */

.bodyContact {
    display: flex;
    height: 90vh;
}

.contact {
    margin: auto;
}


/* Not Found */

.nF {
    text-align: center;
}