@import url('https://fonts.googleapis.com/css?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');

/* accueil */

.accueil {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.liens {
    margin: auto;
}

.part {
    width: 35vw;
    height: 12vh;
    border: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}


/* header */

.bodyHeader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    min-height: 8vh;
    width: 100vw;
    background-color: rgb(127, 116, 138);
    display: flex;
    align-items: center;
}

@media screen and (max-width: 640px) {
    .bodyHeader {
        flex-direction: column;
    }
}

.home {
    width: 30px;
    color: white;
}

.link {
    margin-left: 3%;
    color: white;
    text-decoration: none;
    font-family: 'Playball', cursive, sans-serif;
    font-weight: bold;
}


/* timeline */

.dateTop {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 8vh;
    font-family: 'Fredericka the Great', cursive, sans-serif;
}

@media screen and (max-width: 640px) {
    h1 {
        top: 18vh;
    }
}

.timeline {
    top: 5vh;
}

@media screen and (max-width: 640px) {
    .timeline {
        top: 15vh;
    }
}

.badge {
    display: flex;
    flex-direction: row;
}

.titres2 {
    padding-left: 5%;
}

.img {
    padding-left: 5%;
}

img {
    width: 60px;
}

.dateBottom {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    position: relative;
    font-family: 'Fredericka the Great', cursive, sans-serif;
}